/*
  Josh's Custom CSS Reset
  https://www.joshwcomeau.com/css/custom-css-reset/
*/
*, *::before, *::after {
    box-sizing: border-box;
}

* {
    margin: 0;
}

body {
    line-height: 1.5;
    -webkit-font-smoothing: antialiased;
}

img, picture, video, canvas, svg {
    display: block;
    max-width: 100%;
}

input, button, textarea, select {
    font: inherit;
}

p, h1, h2, h3, h4, h5, h6 {
    overflow-wrap: break-word;
}

p {
    text-wrap: pretty;
}

h1, h2, h3, h4, h5, h6 {
    text-wrap: balance;
}

#root, #__next {
    isolation: isolate;
}

.container {
    display: grid;
    grid-template-columns: 1fr 5fr;
}

header {
    display: grid;
    align-items: center;
    grid-template-columns: auto 1fr;
    padding: 0;
    margin: 0;
}

header span {
    font-size: 24px;
    font-weight: bold;
}

header img {
    width: 50px;
    height: auto;
}

.sidebar {
    display: grid;
    grid-row-start: 2;
}

.nav {
    display: grid;
    grid-template-columns: auto 1fr;
    align-items: center;
    gap: 10px;
    padding: 10px;
}

.nav img {
    width: 25px;
    height: auto;
}

.sidebar ul {
    list-style: none;
    padding: 0;
    margin: 0;
}